.idea
typings/**
node_modules
npm-debug.log
jspm_packages
link-checker-results.txt
**/*npm-debug.log.*
client/**/*.js
client/**/*.js.map
client/assets/app.css
_test-output
_temp

!**/*e2e-spec.js

/dist/
/dev/